[Unit]
Description=AIOT Flusher
After=network.target

[Service]
ExecStart=__BINARY_PATH__ flusher
Restart=always
RestartSec=5
StandardOutput=append:__TELEMETRY_HOME__/flusher.log
StandardError=append:__TELEMETRY_HOME__/flusher.log

[Install]
WantedBy=default.target
